# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
ENV/
*.egg-info/
*.egg

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter Notebook
.ipynb_checkpoints

# Logs
*.log

# Environment variables
.env